<template>
  <div class="search-input">
    <input
      v-model="innerValue"
      type="text"
      class="search-input__input">
  </div>
</template>

<script>
export default {
  model: {
    prop: 'value',
    event: 'input',
  },

  props: {
    value: {
      type: String,
      default: '',
    },
  },

  computed: {
    innerValue: {
      set(val) {
        this.$emit('input', val);
      },
      get() {
        return this.value;
      },
    },
  },
};
</script>

<style lang="less" scoped>
@import '../variables.less';

.search-input {
  &__input {
    width: 100%;
    color: @black;
    display: block;
    border: none;
    font-size: 14px;
    padding: 10px 10px 10px 37px;
    background: url('./loupe.svg') no-repeat 12px 50% @white;
    box-sizing: border-box;
    border-radius: @border-radius;
  }
}
</style>
