<template>
  <div
    @click.stop
    class="search">
    <div class="search__title">Выберите город</div>
    <search-input
      v-model="value"
      @input="handleSearch"
      class="search__input"/>

    <transition name="fade">
      <suggestion
        ref="suggestion"
        v-if="hasSuggestions"
        @select="handleSelect"
        :suggestions="suggestions"/>
    </transition>
  </div>
</template>

<script>
import SearchInput from './Search-input.vue';
import Suggestion from './Suggestion.vue';

export default {
  components: {
    SearchInput,
    Suggestion,
  },

  data() {
    return {
      value: '',
    };
  },

  computed: {
    suggestions() {
      return this.$store.state.suggestions;
    },
    hasSuggestions() {
      return this.suggestions.length > 0;
    },
  },

  mounted() {
    document.addEventListener('click', () => {
      const { suggestion } = this.$refs;

      if (suggestion) {
        this.clearSuggestions();
      }
    });
  },

  methods: {
    handleSearch(query) {
      if (!query) {
        this.clearSuggestions();

        return;
      }

      this.$store.dispatch('getSuggestions', query);
    },
    handleSelect(value) {
      this.value = value;

      this.clearSuggestions();
    },
    clearSuggestions() {
      this.$store.dispatch('clear');
    },
  },
};
</script>

<style scoped lang="less">
  .search {
    width: 280px;

    &__title {
      font-size: 11px;
      margin-bottom: 4px;
    }

    &__input {
      margin-bottom: 5px;
    }
  }
</style>
