<template>
  <ul class="suggestion">
    <li
      class="suggestion__item"
      @click="$emit('select', suggest.title)"
      v-for="suggest in suggestions"
      :key="suggest.id">
        <div class="suggestion__item-title">{{ suggest.title }}</div>
        <div class="suggestion__item-description">{{ suggest.description }}</div>
    </li>
  </ul>
</template>

<script>
export default {
  props: {
    suggestions: {
      type: Array,
      default: () => [],
    },
  },
};
</script>

<style lang="less" scope>
@import '../variables.less';

.suggestion {
  margin: 0;
  padding: 10px 12px 8px 12px;
  list-style: none;
  background: @white;
  border-radius: @border-radius;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);

  &__item {
    padding-bottom: 7px;
    cursor: pointer;
  }

  &__item-title {
    font-size: 14px;
    margin-bottom: 2px;
  }

  &__item-description {
    font-size: 11px;
    color: @dark-gray;
  }
}
</style>
