<template>
  <div id="app">
    <search/>
  </div>
</template>

<script>
import Search from './components/Search/Search.vue';

export default {
  name: 'App',
  components: {
    Search,
  },
};
</script>

<style lang="less">
@import './components/variables.less';

body {
  font-family: @font-family;
  color: @black;
  background: @gray;
}

#app {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .08s ease;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

</style>
